<form (ngSubmit)="submitForm()">

  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="product.name" required #nameField="ngModel">
    <div *ngIf="nameField?.invalid && (nameField?.touched || nameField?.dirty)">
      Name is required.
    </div>
  </div>
  
  <div>
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" [(ngModel)]="product.quantity" required #quantityField="ngModel">
    <div *ngIf="quantityField?.invalid && (quantityField?.touched || quantityField?.dirty)">
      Quantity is required.
    </div>
  </div>
  
  <div>
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" [(ngModel)]="product.price" required #priceField="ngModel">
    <div *ngIf="priceField?.invalid && (priceField?.touched || priceField?.dirty)">
      Price is required.
    </div>
  </div>
  
  <button type="submit"  ng-click="goToDisplay()"routerLink="/display" routerLinkActive="active" >Submit</button>
</form>
