<table>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>
        <ng-container *ngIf="editedProduct?.id === product.id; else productName">
          <input [(ngModel)]="product.name" placeholder="Name" />
          <div *ngIf="!product.name">Please enter the name.</div>
        </ng-container>
        <ng-template #productName>
          {{ product.name }}
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="editedProduct?.id === product.id; else productQuantity">
          <input [(ngModel)]="product.quantity" placeholder="Quantity" />
          <div *ngIf="!product.quantity">Please enter the quantity.</div>
        </ng-container>
        <ng-template #productQuantity>
          {{ product.quantity }}
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="editedProduct?.id === product.id; else productPrice">
          <input [(ngModel)]="product.price" placeholder="Price" />
          <div *ngIf="!product.price">Please enter the price.</div>
        </ng-container>
        <ng-template #productPrice>
          {{ product.price }}
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="editedProduct?.id === product.id; else editButtons">
          <button (click)="updateProduct()">Update</button>
          <button (click)="cancelEdit()">Cancel</button>
        </ng-container>
        <ng-template #editButtons>
          <button (click)="editProduct(product)">Edit</button>
          <button (click)="deleteProduct(product)">Delete</button>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
